@font-face{
    src: url('/font/BwModelica-Bold.otf');
    font-family: 'Bw Modelica Bold';
}
@font-face{
    src: url('/font/BwModelica-Light.otf');
    font-family: 'Bw Modelica Light';
}
@font-face{
    src: url('/font/BwModelica-Medium.otf');
    font-family: 'Bw Modelica Medium';
}
@font-face{
    src: url('/font/BwModelica-Regular.otf');
    font-family: 'Bw Modelica Regular';
}
@font-face{
    src: url('/font/rofistate.otf');
    font-family: 'Rofistate';
}