@font-face {
  src: url("/font/BwModelica-Bold.otf");
  font-family: 'Bw Modelica Bold';
}

@font-face {
  src: url("/font/BwModelica-Light.otf");
  font-family: 'Bw Modelica Light';
}

@font-face {
  src: url("/font/BwModelica-Medium.otf");
  font-family: 'Bw Modelica Medium';
}

@font-face {
  src: url("/font/BwModelica-Regular.otf");
  font-family: 'Bw Modelica Regular';
}

@font-face {
  src: url("/font/rofistate.otf");
  font-family: 'Rofistate';
}

.container {
  width: 80%;
  margin: auto;
}

.container-fluid {
  width: 90%;
  margin: auto;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.row-center-y {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-center-x {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.row-center-xy {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row-spread-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.66667%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.66667%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.66667%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.66667%;
}

/*Flex items*/
.flex-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.flex-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

/* Buttons style */
.btn {
  border-width: 1px;
  border-style: solid;
  outline: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  padding: 0.8em 2.5em;
  color: white;
  cursor: pointer;
}

.btn-green, .btn-green-outline {
  background: #27C97B;
  border-color: #27C97B;
}

.btn-green:hover, .btn-green-outline:hover {
  background: none;
  color: #27C97B;
}

.btn-green-outline {
  background: none;
}

.btn-green-outline:hover {
  background: #27C97B;
  color: white;
}

.btn-red {
  background: #EB2C2C;
  border-color: #EB2C2C;
}

.btn-red:hover {
  background: none;
  color: #EB2C2C;
}

/* Text styles */
.text-white {
  color: white !important;
}

.text-green {
  color: #27C97B !important;
}

.text-blue {
  color: #00005E !important;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: center;
}

.text-bold {
  font-family: 'Bw Modelica Bold', sans-serif !important;
  font-family: swap;
}

.text-medium {
  font-family: 'Bw Modelica Medium', sans-serif !important;
  font-family: swap;
}

.text-regular {
  font-family: 'Bw Modelica Regular', sans-serif !important;
  font-family: swap;
}

.text-light, .btn {
  font-family: 'Bw Modelica Light', sans-serif !important;
  font-family: swap;
  line-height: 20px;
}

/*sizes*/
.text-lg {
  font-size: 2.5em;
}

/* Backgrounds */
.bg-blue {
  background-color: #00005E;
}

.bg-light-grey {
  background-color: #F2F2F2;
}

/*Form*/
label {
  display: block;
  font-size: 12px;
  margin-top: 1.5em;
  margin-bottom: 5px;
}

input, textarea {
  width: 100%;
  outline: none;
  color: #707070;
  border: none;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #707070;
  font-size: 16px;
}

input:focus, textarea:focus {
  border-bottom-color: #00005E;
  color: #00005E;
}

/* Flex wraps */
.flex-column {
  -webkit-box-orient: vertical !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: column !important;
          flex-direction: column !important;
}

.flex-row {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Bw Modelica Regular', sans-serif;
  font-size: 13px;
  font-display: swap;
}

a {
  text-decoration: none;
}

.main-navigation {
  background: #00005E;
  padding: 1.5em 0em;
  position: static;
  top: 1;
}

.main-navigation a {
  margin-right: 30px;
}

.main-navigation a:hover {
  color: #27C97B !important;
}

.main-navigation a:last-child {
  margin-right: 0;
}

.main-navigation .btn-green:first-child, .main-navigation .btn-green-outline:first-child {
  margin-right: 10px;
}

.main-navigation .btn-green:hover, .main-navigation .btn-green-outline:hover {
  color: white !important;
}

.intro {
  height: 70vh;
  background: #00005E;
}

.intro p {
  font-size: 3.7em;
}

.intro p span {
  font-family: 'Rofistate';
  font-size: 2em !important;
  display: block;
  margin-top: -0.7em;
}

.intro img {
  width: 90%;
}

.intro .btn {
  margin-top: -3em;
}

.hero {
  padding: 2em 0;
  background: url("/img/main/hero-background.svg");
  background-repeat: no-repeat;
  background-position: right center;
}

.hero h1 {
  font-size: 2.5em;
}

.recent-listings {
  padding: 3em 0;
  background: #F2F2F2;
}

.recent-listings h1 {
  font-size: 2.5em;
  margin-bottom: 2em;
}

.recent-listings .col-3 {
  width: 23.5%;
  margin-bottom: 1.5%;
}

.recent-listings .item {
  background: white;
  padding-bottom: 3em;
  border-radius: 0px 0px 5px 5px;
}

.recent-listings .item h3 {
  font-size: 1.6em;
}

.recent-listings .item img {
  border-radius: 5px 5px 0px 0px;
  width: 100%;
}

.recent-listings .item p {
  margin-bottom: 2em;
}

.recent-listings .item .btn {
  font-size: 10px;
  padding: 1em 2em;
}

.dashboard-listing {
  margin-top: -150px;
}

.main-footer {
  background: #00005E;
  height: 300px;
}

.main-footer img {
  width: 200px;
}

.main-footer a:hover {
  color: #27C97B !important;
}

.main-footer .footer-links {
  margin-top: 2em;
}

.main-footer .copyright {
  margin-top: 8em;
  font-size: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.main-header {
  height: 25vh;
  padding-bottom: 15vh;
}

.main-header h1 {
  margin-top: -0.4em;
}

.welcome {
  height: 90vh;
}

.welcome .info {
  margin-top: 6em;
}

.content-area {
  padding-bottom: 6em;
}

.form-wrapper .form-container, .form-wrapper img {
  margin-top: -150px;
}

.form-wrapper .col-4:first-child img {
  margin-top: -450px;
}

.form-container {
  background: white;
  border-radius: 5px;
  padding: 1em 2em 4em 2em;
}

.form-container h1 {
  font-size: 1.7em;
  margin-bottom: 1.2em;
}

@media only screen and (max-width: 568px) {
  .website-wrapper {
    background: white;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .status {
    font-size: 10px;
  }
  .success-message {
    height: 100vh;
  }
  .website-container {
    -webkit-box-shadow: none;
            box-shadow: none;
    width: 100%;
    max-height: 100vh;
    border-radius: 0;
    overflow-y: scroll;
  }
  .website-container .main-header {
    border-radius: 0;
  }
}
/*# sourceMappingURL=app.css.map */